<div class="row">
	<div class="three columns">
		<a class="button radius" style="margin-bottom:10px;" href="http://twitter.com/IrishPlanInst">
			<i class="foundicon-twitter"></i> FOLLOW US
		</a>
		<a class="button radius" style="margin-bottom:10px;" href="http://www.facebook.com/pages/The-Irish-Planning-Institute/130744943633325">
			<i class="foundicon-facebook"></i> LIKE US
		</a>
		<a class="button radius" style="margin-bottom:10px;" href="http://www.linkedin.com/groups/Irish-Planning-Institute-3723889">
			<i class="foundicon-linkedin"></i> CONNECT
		</a>
	</div>
	<div class="two columns">
		<h5>Irish Planning Institute</h5>
		<div class="links">
			<a href="http://www.ipi.ie">ipi.ie</a>
			<a href="http://www.irishplanninginstitute.ie/ipi/news/C39/">News</a>
			<a href="http://www.irishplanninginstitute.ie/ipi/events/">Events</a>
		</div>
	</div>
	<div class="two columns">
		<h5>Resources</h5>
		<div class="links">
			<a href="#">Get Involved</a>
			<a href="#">About the Plan</a>
			<a href="#">Why a Plan?</a>
		</div>
	</div>
	<div class="five columns blog_posts">
		<h5>Recent Plan Updates</h5>
		<div class="links">
			{% assign posts_group_list = site.posts %}
			{% assign group = 'blog' %}
			{% include posts_group_list %}
		</div>
		
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3624304-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>