<div class="row">
	<div class="six columns">
		<a class="logo" href="{{ site.baseurl }}/" title="&larr; Back to IPI.ie"><img src="{{base}}/img/IPI-logo1.png" /></a>
	  	{% if page.section %}
		 <a class="section-title" href="{{site.baseurl}}/{{page.section}}">{{page.section}}</a>
		{% endif %}
	</div>
	<div class="six columns">
		<ul class="menu">
			{% assign home_nav = site.pages %}
			{% assign nav = 'home' %}
			{% include home_nav %}

			{% assign home_nav = site.posts %}
			{% assign nav = 'home' %}
			{% include home_nav %}
		</ul>
	</div>
</div>