<!DOCTYPE html>
{% assign base = site.baseurl %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>{{ page.title }}</title>

	<!-- Included CSS Files (Uncompressed) -->
	<!--
	<link rel="stylesheet" href="stylesheets/foundation.css">
	-->

	<!-- Included CSS Files (Compressed) -->
	<link rel="stylesheet" href="{{base}}/foundation/stylesheets/foundation.min.css">
	<link rel="stylesheet" href="{{base}}/foundation/stylesheets/app.css">
	<link rel="stylesheet" href="{{base}}/foundation/stylesheets/social_foundicons.css">
	<link rel="stylesheet" href="{{base}}/foundation/custom.css">

	<script src="{{base}}/foundation/javascripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
<div id="ipi-link" style="padding-top:20px">
	<div class="row" >
		<div class="twelve columns">
			<a href="http://ipi.ie" >&larr; Back to IPI.ie</a>
			{% include social.html %}
		</div>
	</div>
</div>
<div id="wrapper" style="background-image:url({{base}}/img/bg.png);">


		<div class="row">
			<div class="twelve columns">
				<img src="{{base}}/img/header.png" />

				<!-- <h2>IPI Autumn Planning Conference 2012</h2>
				<p>5<sup>th</sup> October 2012 <strong>Gibson Hotel, Dublin</strong> register now.</p>
				<hr />--> 
			</div>

		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="navbar hide-for-small">
					<a href="{{base}}/">Home</a>
					<a href="{{base}}/pages/programme">Programme</a>
					<a href="{{base}}/pages/speakers">Speakers</a>
					<a href="{{base}}/pages/venue">Venue</a>

                  <a href="http://www.irishplanninginstitute.ie/ipi/conference-tickets/" class="button radius large alert has-tip" style="margin-left:250px;" data-width="210" title="An IPI.ie login is required for online registration">Register Now</a>
				</div>

				<div class="show-for-small">
					<ul class="nav-bar">
						<li><a href="{{base}}/pages/programme">Programme</a></li>
						<li><a href="{{base}}/pages/programme">Speakers</a></li>
						<li><a href="{{base}}/pages/programme">Register Now</a></li>
						<li><a href="{{base}}/pages/programme">Irish Planning Institute</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--<div class="row">
		<div class="twelve columns">
		<ul class="nav-bar">
		<li><a href="/index.html">Home</a></li>
		<li class="has-flyout">
		<a href="/pages/programme">Programme</a>
		<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
		<li><a href="#">Morning Session</a></li>
		<li><a href="#">Afternoon Session</a></li>
		</ul>
		</li>
		<li><a href="#">Book Now</a></li>
		</ul>
		</div>
		</div>-->

		<div class="row">
			<div class="eight columns">

				<!-- Grid Example -->
				<div class="row">
					<div class="twelve columns">
						{{ content }}          
					</div>
				</div>
			</div>

			<div class="four columns">
				<p class="vevent">
					<a href="http://tiles.mapbox.com/rusty/map/map-y2zx7z5c"><img src="http://api.tiles.mapbox.com/v3/mapbox.mapbox-streets/pin-l-star+cc4422(-6.228,53.348)/-6.228,53.348,15/283x283.png" /></a>
					The <span class="summary">IPI Autumn Conference</span> 
					takes place on October 5th 2012 from
					<abbr class="dtstart" title="2012-10-08T09:00:00+01:00">09h00</abbr>&ndash;<abbr class="dtend" title="012-10-08T16:00:00+01:00">16h00</abbr> at 
					<span class="location">Gibson Hotel, Dublin</span> 
					(<a class="url" href="http://ipi.ie">More Info</a>)
				</p>

				<a href="" class="section">
					<div class="title">
						<h5>Conference Speakers</h5>
					</div>
					<div>
					                      <img src="/img/speakers.png" />
					                  	</div>
					<div style="float:left;">
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>			
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
						<span class="thumb" style="background: url(http://developmentseed.org/images/team/eric.thumb.jpg)"></span>
					</div>
				</a>


				<div id="tweet-stream" class="section">
					<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
					<script>
					new TWTR.Widget({
						version: 2,
						type: 'search',
						search: '#ipiconf OR @IrishPlanInst',
						interval: 30000,
						title: 'Irish Planning Institute Autumn Conference',
						subject: '#ipiconf',
						width: 'auto',
						height: 300,
						theme: {
							shell: {
								background: '#8ec1da',
								color: '#ffffff'
							},
							tweets: {
								background: '#ffffff',
								color: '#444444',
								links: '#1985b5'
							}
						},
						features: {
							scrollbar: false,
							loop: true,
							live: true,
							behavior: 'default'
						}
						}).render().start();
						</script>
					</div>

				</div>

			</div>

			<div id="footer">
				<div class="row">
					<div class="eight columns">
						<p>&copy;2012 Irish Planning Institute <br />
							Site deisgned by <a>Colin Broderick</a>. Powered by Jekyll &amp; Github Pages</p>
						</div>
					<div class="four columns">
						<p class="social">
							{% include social.html %}
							</p>
					</div>
				</div>

			</div>
</div>
				<!-- Included JS Files (Compressed) -->
				<script src="{{base}}/foundation/javascripts/foundation.min.js"></script>

				<!-- Initialize JS Plugins -->
				<script src="{{base}}/foundation/javascripts/app.js"></script>
			</body>
			</html>
